$white: #FFFFFF;
$blue: #2196f3;
$color-black: #0E0E0E;
$color-black-light: #575757;

$navbar-brand-font-size: 1rem !default;
$navbar-light-color: $color-black !default;
$navbar-light-hover-color: $color-black-light !default;
$navbar-nav-link-padding-x: 0.3rem  !default;
$navbar-nav-link-padding-y: 0.3rem  !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

// Theme
$primary:       $blue !default;

// Breadcrumbs
$breadcrumb-bg: $primary;
$breadcrumb-divider-color: $white;
$breadcrumb-padding-y: 0.40rem;