@import "variables";

.breadcrumb{
  border-radius: 0px;
}

a.nav-link {
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb li {
  color: $white;
}

div#total_percapita_emissions_map {
  background-color: transparent !important;
  background-position: 39% 43%;
}

a.nav-link.active {
  background-color: darken($gray-200, 10%);
  border-radius: 15px;
}

.bg-grey {
  background-color: $gray-200 !important;
}